html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin: 0;
}

ul {
  padding: 0;
}

h3 {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-hidden {
  opacity: 0;
  position: absolute;
}

.space {
  height: 200px;
}

.btn {
  /* positioning */
  margin-left: 100px;
  padding: 5px 10px;

  /* Box model */
  display: inline-block;

  height: 50px;
  min-width: 120px;

  /* Typography */
  color: rgb(112, 208, 224);

  /* Visual */
  background-color: rgb(84, 148, 209);
  border: 2px solid black;
  border-radius: 3px;
}

.btn:hover,
btn:focus {
  color: black;
  background-color: rgb(240, 136, 136);
  border-color: brown;
}

.in-box-el {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: #fff;
}
