:root {
  --main-text-color: #757575;
  --focus-color: #2196f3;
  --focus-text-color: #ffffff;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --inactive-black: #212121;
  --button-grey: #f5f4fa;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}

/* Logo */

/* .page-header {
  padding-left: 215px;
} */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--focus-color);
}

.logo-black {
  color: var(--logo-black);
}

.logo-white {
  color: var(--logo-white);
}

/* Navigation */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--inactive-black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.header-contacts {
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}
/* .header-contacts .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}

.header-contacts {
  display: flex;
}

.header-contacts .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--focus-color);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  color: var(--focus-text-color);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button {
  font-family: inherit;
  color: var(--inactive-black);
  cursor: pointer;

  background-color: var(--button-grey);
  border: none;
  border-radius: 4px;
}

.hero-button {
  padding: 10px 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--focus-text-color);

  background-color: var(--focus-color);
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--inactive-black);
  background-color: var(--button-grey);
}

.portfolio-button {
  padding: 6px 22px;
  margin-right: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: var(--focus-text-color);
  background-color: var(--focus-color);
  border: none;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2n) {
  background-color: var(--button-grey);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--inactive-black);
  text-align: center;
}

.our-team-section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--inactive-black);
}

.our-team-item-text {
  font-size: 16px;
  line-height: 1.19;
}

.our-team-list {
  display: flex;
}

.our-activities {
  display: flex;
}

/* Features */
.features .title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--inactive-black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features.list {
  margin-bottom: 94px;
}

.features-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.location {
  font-size: 14px;
  line-height: 1.71;
  color: var(--focus-text-color);
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio list*/
.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--inactive-black);
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-buttons-list {
  display: flex;
}
