:root {
  --main-text-color: #757575;
  --focus-color: #2196f3;
  --focus-text-color: #ffffff;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --inactive-black: #212121;
  --button-grey: #f5f4fa;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 1px solid tomato; */
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}
/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--focus-color);
}

.logo-black {
  color: var(--logo-black);
}

.logo-white {
  color: var(--logo-white);
}

/* Navigation */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--inactive-black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item {
  display: flex;
  align-items: center;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-contacts .link {
  fill: var(--main-text-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--focus-color);
  fill: var(--focus-color);
}

.header-contacts .icon {
  margin-right: 10px;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.5)
    ),
    url(../images/hero-background.jpg);
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* outline: 1px solid tomato; */
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  color: var(--focus-text-color);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button {
  font-family: inherit;
  color: var(--inactive-black);
  cursor: pointer;

  background-color: var(--button-grey);
  border: none;
  border-radius: 4px;
}

.hero-button {
  padding: 10px 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--focus-text-color);

  background-color: var(--focus-color);
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--inactive-black);
  background-color: var(--button-grey);
}

.portfolio-button {
  padding: 6px 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: var(--focus-text-color);
  background-color: var(--focus-color);
  border: none;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--inactive-black);
  text-align: center;
}

.our-activities {
  display: flex;
  justify-content: space-between;
}

.our-activities .item {
  line-height: 0;
}

/* Features */
.features {
  display: flex;
  justify-content: space-between;
}

.features-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--button-grey);
  border-radius: 4px;
}

.features-image {
  fill: var(--inactive-black);
  display: flex;
  /* align-items: center; */
  outline: 1px solid tomato;
  vertical-align: middle;
}

.features-image .icon-diagram {
  /* outline: 1px solid blue; */
}

.features .title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--inactive-black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features.list {
  margin-bottom: 94px;
}

.features-text {
  margin: 0;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

/* Our team */
.bgsection {
  background-color: #f5f4fa;
}

.our-team-section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--inactive-black);
}

.our-team-list {
  display: flex;
  justify-content: space-between;
}

.our-team-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-list .image {
  margin-bottom: 30px;
}

.our-team-item-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  margin-bottom: 30px;
}

.social-list .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-list .link::before {
  display: flex;
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid palevioletred;
}
.social-list .link::before:not(:last-child) {
  margin-right: 10px;
}

.social-list .instagram::before {
  background-image: url(../images/social/instagram.svg);
  background-size: 20px;
}

.social-list .twitter::before {
  background-image: url(../images/social/twitter.svg);
  background-size: 10px;
}

.social-list .facebook::before {
  background-image: url(../images/social/facebook.svg);
  background-size: 20px auto;
}

.social-list .linkedin::before {
  background-image: url(../images/social/linkedin.svg);
  background-size: 20px;
}

/* Regular customers */

.customers {
  display: flex;
}

.customers .item:not(:last-child) {
  margin-right: 30px;
}

/* Footer */
.address-container {
  display: flex;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address {
  margin-top: 20px;
}

.location {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  color: var(--focus-text-color);
}

.footer-contacts {
  margin-top: 9px;
  line-height: 0;
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid tomato;
}

.portfolio li {
  outline: 1px solid tomato;
}

.portfolio .item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.portfolio .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Portfolio list*/
.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--inactive-black);
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons-list .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .item-border-container {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.portfolio .link {
  display: flex;
  flex-direction: column;
}

.portfolio .paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

/* Social */

.social-container {
  margin-left: 70px;
}

.social-container .title {
  margin-top: 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--focus-text-color);
}

.social-container .social-list {
  margin-top: 20px;
}

.social-container .link:before {
  background-color: rgba(255, 255, 255, 0.1);
}
